{% extends "homepage/head.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  {% block body %}
  <div name="{{empleado.id}}">{{empleado.fila_employee}}<br /></div>
  <form
    action="{% url 'frontdesk' %}"
    method="post"
    style="text-align: center; max-width: 40rem; margin: auto"
  >
  {% csrf_token %}
  <h3>Front Desk</h3>
    <input type="hidden" name="empleado" value="{{empleado.fila_employee}}" />
    <input type="hidden" name="owner" value="{{empleado.fila_admin.id}}" />
    <input type="submit" value="Front Desk" />
  </form>
  <form
    action="{% url 'filaarea' %}"
    method="get"
    style="text-align: center; max-width: 40rem; margin: auto"
  >
    <input type="hidden" name="empleado" value="{{empleado.fila_employee}}" />
    <input type="hidden" name="accion" value="current" />
    <select required name="area" id="area" style="text-align: center">
      <option value="">None selected</option>
      {% for area in areas %}
      <option value="{{area.id}}">{{area.place_name}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Seleccionar" />
  </form>
  {% endblock %}
</html>
