{% extends "homepage/head.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  {% block body %}
  <br><br>
  <div class="card bg-light mb-3" id="area_id" name={{area.id}} style="text-align: center; max-width: 35rem; margin: auto">
  <div class="card-header" id="paciente" name={{patient.id}}>Area: {{area.place_name}}</div>
  <div class="card-body" id="turno_actual" name={{area.current_position}}>
    <h4 class="card-title">Empleado: {{empleado}}</h4>
    <p class="card-text">Nombre: {{patient.persona}} {{message}}</p>
    <p class="card-text">Turno actual: {{area.current_position}}</p>
    <div class="card-footer">
      <a href="{% url 'loginempleado' %}" class="btn btn-outline-secondary">Cambiar Area</a>
      <form action="{% url 'filaarea' %}" method="get" style="display: inline-block;">
    <input type="hidden" name="empleado" value = {{empleado}}>
    <input type="hidden" name="area" value = {{area.id}}>
    <input type="hidden" name="accion" value = "back">
     <button class="btn btn-outline-warning" id="back">Anterior</button>
  </form>
      <form action="{% url 'filaarea' %}" method="get" style="display: inline-block;">
    <input type="hidden" name="empleado" value = {{empleado}}>
    <input type="hidden" name="area" value = {{area.id}}>
    <input type="hidden" name="accion" value = "next">
     <button class="btn btn-outline-primary" id="next">Proximo</button>
  </form>
  </div>
  </div>
  
  {% block script %}
    <script type="text/javascript" src="{% static 'management/filaarea.js' %}"></script>
    
    {% endblock %}
  {% endblock %}
</html>