{% extends "homepage/head.html" %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block body %}
      {% if new_patient %}
      <div style=" text-align: center;">
        <h3>Paciente {{new_patient.persona}} creado con exito su id:{{new_patient.id}}</h3>
      </div>
      {% endif %}
      <div style=" text-align: center; max-width: 40rem;margin: auto;"></div>
      {% for owner_area in owner_areas %}
      <br>
      
          <form action="{% url 'addpatient' %}" style=" text-align: center; max-width: 38rem;margin: auto;" method="post">
            {% csrf_token %}
            <h3>{{owner_area.place_name}}</h3>
            <input
                class="form-control"
                type="text"
                style="max-width: 25rem;display: inline-block;"
                name="name{{owner_area.area_id}}"
                placeholder="Nombre de Area"
            />
            <input type="hidden" name="empleado" value="{{empleado}}" />
            <input type="hidden" name="owner" value="{{owner_id}}" />
            <input type="hidden" name="area_id" value="{{owner_area.area_id}}">
            <input class="btn btn-outline-primary" style="display: inline-block;" type="submit" value="Add" />
            <br>
          </form>  
          
        {% endfor %}
      <a href="{% url 'loginempleado' %}" class="btn btn-outline-secondary">Cambiar Area</a>
      </div>
    {% endblock %}
</body>
</html>