{% extends "homepage/head.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
  
  <form
    action="{% url 'managementpages' %}"
    method="post"
    style="text-align: center; max-width: 30rem; margin: auto"
  >
    {% csrf_token %}
    <div class="form-group" style="text-align: center;">
      {% for owner_area in owner_areas %}
      <h3 style="text-align: center;" >{{owner_area.place_name}}</h3>
      <input
        class="form-control"
        type="text"
        name="place{{owner_area.area_id}}"
        placeholder="Nombre de Area"
        style="max-width: 30rem; margin: auto;"
      />
    </div>
    
    {% endfor %}
    <br>
    <input class="btn btn-outline-info" type="submit" style="text-align: center;display:block; margin: auto;" value="Update" />
    
  </form>
  <br>
  <a class="btn btn-outline-dark" style="text-align: center; display:block; max-width: fit-content; margin: auto;" href="{% url 'logout' %}">Log Out</a>
  <br /><hr>
  <form
    action="{% url 'create_employee' %}"
    method="post"
    style="text-align: center; max-width: 30rem; margin: auto;"
  >
  <hr>
    {% csrf_token %}
    <h3>Añadir empleado:</h3>
    <input
      class="form-control"
      type="text"
      placeholder="Nombre del empleado"
      name="fila_employee"
      required
    /><br />
    <input
      class="form-control"
      type="text"
      placeholder="nombre de usuario"
      name="employee_user"
      required
    />
    <br />
    <input class="btn btn-outline-warning" type="submit" value="Add Employee" />
  </form>
  <br /><hr>
  {% if employee_list %}
  <form action="{% url 'delete_employee' %}" method="post" style="text-align: center; max-width: 30rem; margin: auto">
    {% csrf_token %}
    <select required class="form-select" name="employee_list" id="employee_list" style="text-align: center">
      <option value="">None selected</option>
      {% for employee in employee_list %}
      <option value="{{employee.id}}">
        User: {{employee.employee_user}} passcode: {{employee.id}}
      </option>
      {% endfor %}
    </select><br>
    <input class="btn btn-outline-danger" type="submit" value="Delete Selected Employee" />
  </form>
  {% endif %}
  
  {% endblock %}
</html>
