{% block body %}
<style></style>
<h2 style="text-align: center; max-width: 40rem; margin: auto">Register</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form
  style="text-align: center; max-width: 40rem; margin: auto"
  action="{% url 'register' %}"
  method="post"
>
  {% csrf_token %}
  <div class="form-group">
    <input
      class="form-control"
      autofocus
      type="text"
      name="username"
      placeholder="Username"
      required
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      name="email"
      placeholder="Email Address"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="business_name"
      placeholder="Nombre de la empresa"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="confirmation"
      placeholder="Confirm Password"
    />
  </div>
  <input class="btn btn-primary" type="submit" value="Register" />
</form>

<div style="text-align: center; max-width: 40rem; margin: auto">
  Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}
